.newsletter {
  position: relative; }
  .newsletter .newsletter-inner {
    background: #f7f7f7;  /* url(../imgs/banner/banner-10.png) no-repeat center */
    background-size: ;    /* cover */
    padding: 25px 80px;   /*   84px 78px */
    clear: both;
    display: table;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    min-height: 100px; }
    .newsletter .newsletter-inner img {
      position: absolute;
      right: 50px;
      bottom: 0;
      max-width: 40%; }
    .newsletter .newsletter-inner .newsletter-content p {
      font-size: 18px; }
    .newsletter .newsletter-inner .newsletter-content form {
      background-color: #fff;
      max-width: 450px;
      border-radius: 50px;
      position: relative;
      z-index: 4; }
      .newsletter .newsletter-inner .newsletter-content form input {
        border: 0;
        border-radius: 50px 0 0 50px;
        padding-left: 58px;
        background: url(../imgs/theme/icons/icon-plane.png) no-repeat 25px center; }
      .newsletter .newsletter-inner .newsletter-content form button {
        border: 0;
        border-radius: 50px;
        font-weight: 700; }